/*body :not(nav) {
   background-color: rgba(114, 200, 237, 0.44);
   background-size: cover;
}*/

div.nav-wrapper, nav {
   background-color: rgba(82, 18, 175, 0.56);
}

img {
   height: 60%;
   width: 100%;
}
.card .card-content{
   height: 300px;
}
.card .card-content .card-title {
   font-size: 120%;
   line-height: 20px;
   width: 100%;
}

button.btn {
   background-color: rgba(82, 18, 175, 0.76);
}
.btn:hover {
   background-color: rgba(82, 18, 175, 0.36);
}
input[type=text]:focus:not([readonly]) {
   border-bottom: 1px solid rgba(82, 18, 175, 0.36);
   box-shadow: 0 0 1px 0 rgba(82, 18, 175, 0.36);
}

section {
     min-height: calc(100vh - 250px);
  }

/*div.push {
   height: 40px;
}*/

footer.page-footer {
   background-color: rgba(82, 18, 175, 0.56);
   /*position: fixed;*/
   width: 100%;
   height: auto;
   /*overflow: auto;*/
}
footer.page-footer .footer-copyright  {
   background-color: rgba(82, 18, 175, 0.56);
}
p.grey-text {
   margin: 0px;
   margin-left: 30%;
}
