body {
   background-image: url(sayagata-400px.png);
   /*background-size: cover;*/
}

div.nav-wrapper, nav {
   /*background-color: rgba(82, 18, 175, 0.50);*/
   background-image: url(02.jpg)
}


 .tabs .tab a, .tabs .tab a:hover, .tabs .tab{
   color: black;
}

.tabs.tabs-transparent {
   background-color: rgba(0, 0, 0, 0.15);
}
ul.tabs {
   background-color: transparent;
}

.btn {
   padding-left: 20px;
   padding-right: 20px;
}

img {
   height: 130px;
   width: 100%;

}
.row .col.m6{
   background-color: transparent;
}

.noRec {
   width: 100%;
   height: auto;
}

.card .card-content{
   height: 260px;
   /*background-color: transparent;*/
   /*background-image: url(ep_naturalwhite.png);*/
}
.card .card-content .card-title {
   font-size: 120%;
   line-height: 20px;
   width: 100%;
   max-height: 100px;
}
::-webkit-input-placeholder{
   color: rgba(0, 0, 0, 0.42);
}

button.btn {
   /*background-color: rgba(82, 18, 175, 0.76);*/
background-image: url(02.jpg)
}
.btn:hover {
   background-color: rgba(82, 18, 175, 0.36);
}
input[type=text]:focus:not([readonly]) {
   border-bottom: 1px solid rgba(82, 18, 175, 0.36);
   box-shadow: 0 0 1px 0 rgba(82, 18, 175, 0.36);
}

section {
     min-height: calc(100vh - 235px);
}

/*div.push {
   height: 40px;
}*/

footer.page-footer {
   /*background-color: rgba(82, 18, 175, 0.56);*/
   background-image: url(02.jpg);
   z-index: 1;
   background-color: rgba(0, 0, 0, 0.24);

   width: 100%;
   height: 60%;
   overflow: auto;
}
footer.page-footer .footer-copyright  {
   /*background-color: rgba(82, 18, 175, 0.56);*/
   background-color: rgba(0, 0, 0, 0.37);
   /*background:
      linear-gradient(
         rgba(9, 10, 9, 0.34)
         rgba(9, 10, 9, 0.34)
      ),
       url('02.jpg');*/
}

p.grey-text {
   margin: 0px;
   margin-left: 30%;
}
